#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}
body{
    background-color: #7ab7b7;

}
.navbar{
clear: both;
font-size: 12px;
color: #ccc;
text-align: center;
background: #666;
}
img{
    margin-top: -22px;
    height: 300px;
    width: 100%;
    background-color: #ccc;
}
#newimg{
        margin-top: 18px; 
        height: 195px;
        width: 38%;
        background-color: #ccc;
}
#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
}

#notes {
    float: right;
    width: 30%;
}

textarea,
input {
    display: block;
    width: 100%;
    background-color: rgb(134, 218, 218);
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}

.border-right {
    text-align: center;
    /* margin: 30px; */
    width: 200px;
}

.border {
    display: inline-block;

}

.btn1{
    width: 300px;
    height:80px;
    background-color: #4aaaa5 !important;
    border-radius: 0px;
    margin-left: 2%;
}
.footer {
/*position: fixed;*/
left: 0;
bottom: 0;
width: 100%;
text-align: center;
padding: 30px 0;
clear: both;
color: #fff;
color: #ccc;
text-align: center;
background: #666;
}
#navTitle{
    font-size: 31px;
}
.borderTitle{
    width: 250px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.notes{
    width: 100%;
}
